!!!
%html
  %head
    %title Movingteachings
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "csrf-token", :content => form_authenticity_token() }

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body{ 'ng-app' => 'movingteachings', 'ng-controller' => "MainCtrl" }
    .container-fluid.movingteachings
      .row-fluid
        .span12
          - if current_user
            Classes:
            .btn= link_to "Register", learn_path()
            .btn= link_to "Teach", teach_path()
            .identity
              %span.visible-desktop
                = current_user.name
                - if current_user.provider.eql?( "facebook" )
                  %img{ src: "/assets/#{current_user.provider}.png" }
              .btn.hidden-phone= link_to "Logout", destroy_user_session_path(), :method => :delete
              .visible-phone{ 'ng-click' => 'logout()' }
                .icon-off.btn
                
          - else
            = render partial: 'layouts/login'
        = yield
        = render partial: 'layouts/common'

