!!!
%html
  %head
    %title Movingteachings
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    =# javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"
    = csrf_meta_tags

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = render partial: 'layouts/ga'
  %body{ 'ng-app' => 'movingteachings', 'ng-controller' => "MainCtrl" }
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          .brand Moving Teachings
          .bar
            - if current_user
              %ul.nav
                == #{link_to "Register", learn_path()}
                == | #{link_to "Teach", teach_path()} 
                == | #{link_to "Favorites", favorites_path()}

              .hidden-phone.pull-right              
                = current_user.name
                - if current_user.provider.eql?( "facebook" )
                  %img{ src: "/assets/#{current_user.provider}.png" }
                = link_to "Logout", destroy_user_session_path(), :method => :delete
              .visible-phone{ 'ng-click' => 'logout()' }
                .icon-off.btn
            - else
              %span.hidden-phone
                .btn.hidden-phone= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
                .btn.hidden-phone= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)
              %span.visible-phone
                Login via:
                = link_to "Facebook", user_omniauth_authorize_path(:facebook)
                = link_to "Google", user_omniauth_authorize_path(:google_oauth2)
      
    .container.movingteachings
      = yield
      = render partial: 'layouts/common'

    
